.payment-container{
    background-color: rgb(0, 195, 255);
    width: 100%;
    height: 400px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

    justify-content: space-around;
}
.pyment-detialas{
    height: 300px;
    display: flex;
   
    flex-direction: column;
    
    justify-content: space-around;
    width: 73%;
}
.pyment-items{
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 0px 0px 0px 20px;
   
  

}
.pyment-item{
    display: flex;
    flex-direction: column;
   padding: 10px 10px 10px 10px;
   border-radius: 10px;
    width: 140px;
   color: white;
 
    

   gap: 20px;

   font-weight: bold;
   font-size: 15px;
   font-family: Inter, sans-serif;
    
}

.pyment-item:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.pyment-item-test{
    
    display: flex;
 
    min-width: 110px;
    flex-direction: column;
    gap: 5px;
}
.pyment-item-test1{
    
    display: flex;
    font-size: 19px;
    min-width: 110px;
    flex-direction: column;
    gap: 5px;
}
.pyment-head{
    font-weight: bold;
    font-size: 35px;
    font-family: Inter, sans-serif;
}

.payment-book-container{
    background-color:;
    width: 100%;
    height: 400px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: #0F4A8A;
    justify-content: space-around;
}
.pyment-icon{
    width: 65px;
}
body{
    height: 300vh;
}

.instruments{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    margin-top: 100px;
    height: 60vh;
}
.instruments-conainer{
   border-radius: 10px;
    
    width: 60%;
    height: 100%;
}
.body-left-right{
    
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    justify-content: space-around;
    height: 60vh;
    border-radius: 20px;
}

.body-left-bottm{
  
}
.img3{
    width: 500px;
}
.instruments-head{
    font-weight: bold;
    font-family: Inter, sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
}
.pytm-logo1{
    width: 80px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;


}
.body-set{
    display: flex;
  
    width: 80%;
}
.h1{
    font-size: 40px;
    margin-top: 30px;
}