* {
    margin: 0;
    padding: 0;
    list-style: none;

    box-sizing: border-box;
}



/* Navbar */
header {
    position: fixed;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 0 100px;
    font-size: 16px;
    font-weight: bold;
    font-family: Inter, sans-serif;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    gap: 40px;

}



li {

    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

li:hover {
    background-color: rgb(240, 240, 240);
    border-radius: 3px;
}

.hamburger {
    display: none;


}

.nav-bar ul {
    display: flex;

    height: 60px;
    align-items: center;
    width: 770px;
    justify-content: space-around;
}

.nav-bar ul li {
    display: block;
}

.sign-in {
    min-width: 110px;
    background-color: rgb(0, 195, 255);
    display: flex;
    align-items: center;
    color: white;
    padding: 2px 2px 2px 13px;
    border-radius: 50px;
    justify-content: space-around;
    font-weight: bold;
    font-size: 15px;
    font-family: Inter, sans-serif;
    margin-left: 40px;




}

.login-logo {
    width: 35px;
    background-color: rgb(9, 9, 136);
    border-radius: 100%;

}

.sign-in:hover {
    background-color: rgb(9, 9, 136);

    .login-logo {
        background-color: rgb(0, 195, 255);

    }
}

/* Body Parts */
.container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 900px;
    width: 50%;
    justify-content: end;




}

.pytm-logo {
    width: 80px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;


}

.body-left {

    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 700px;



}

.text {

    height: 200px;
    display: flex;

    flex-direction: column;
    justify-content: space-around;
}

h1 {
    font-family: Inter, sans-serif;
    font-size: 50px;
    font-weight: 700;

}

p {
    font-family: Inter, sans-serif;
    font-size: 20px;
    margin-top: 20px;


}


.big-img {


    height: 550px;
    top: 50%;







}




.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    height: 45px;
    background-color: black;
    color: white;
    width: 240px;
    justify-content: space-between;
    padding: 2px 26px 2px 25px;
}

.btn-logo {
    width: 18px;


}

.btn:hover {
    color: black;
    background-color: white;

    .btn-logo {
        filter: invert(100%) brightness(0%) contrast(100%);
    }

}

.container-main {
    padding: 0px 0px 0px 5%;
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.img {
    width: 50%;
    display: flex;
    justify-content: end;
}










@media only screen and (max-width: 1160px) {
    .logo {}




    h1 {

        font-size: 30px;


    }

    p {
        font-family: Inter, sans-serif;
        font-size: 12px;
        margin-top: 0px;

    }

    .body-left {

        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 700px;



    }

    .text {

        height: 150px;

    }

}







@media only screen and (max-width: 900px) {
   header {
        display: flex;
        justify-content: space-around;


    }
 .hamburger {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 10px;

        height: 30px;
        justify-content: space-around;
        cursor: pointer;

    }
 .sign-in {
        position: absolute;
        right: 10px;


    }
 .line {
        width: 30px;
        height: 3px;
        background-color: rgb(0, 0, 0);

    }
.nav-bar {
        display: none;

    }

}