*{
    margin: 0;

}
body{
    height: 400vh;
}

nav{
  display:flex ;
  justify-content: space-between;
  height: 60px;
  padding: 10px 100px 10px 100px;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

 

}
.nav-right{
    display:flex ;
    align-items: center;
    justify-content: space-around;
    width: 600px;
   
   
    
}
.nav-icon{
    width: 40px;
    height: 40px;
   
}
.right-nav{
    display: flex;
    width: 500px;
    justify-content:space-around;
    align-items: center;

}
.serch{
    display: flex;
    padding: 10px 10px 10px 20px;
   align-items: center;
    border-radius: 50px;
    box-shadow: rgba(10, 10, 43, 0.02) 0px 2px 5px -1px, rgba(22, 22, 22, 0.3) 0px 1px 3px -1px;
    

 
 

}
.serch-icon{
    width: 20px;
    height: 20px;
}
.serch-area{
  border: none;
  background: transparent;
  outline: none;
  width: 220px;
  height: 15px;
  
}

.serch:focus-within{
    border: 1px solid;
}

.profail-icons{
    
}

.admin-icon{
   height: 35px;
}
.alert-box{
    display: flex;
    justify-content: space-between;
    background-color: #1e3932;
    color: white;
    height: 80px;
    align-items: center;
    
    padding:0px 150px 0px 150px;
}
.content{
    display: flex;
    justify-items: center;
    font-size: 20px;
    
   
}
.know{
    border:1px solid white;
    border-radius: 50px;
    padding:7px 15px 7px 15px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.main-content{
    display: flex;
    background: #006040;
    margin: 30px 120px 30px 120px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: end;
    height: 220px;

  

}

.main-img{
    width: 100px;
    
}

.main-item{
    display: flex;

    

}
.main-item-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0px 0px 60px;
}

.order{
   width: 175px;
   height: 45px;
   background-color: #006e45;
   
   border-radius: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0px 20px 20px 0px;
   font-weight: bold;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: rgb(208, 205, 205);

}

.item-list{
    display: flex;
    justify-content: space-between;
    
    margin: 0px 100px 30px 100px;
    
   
}
.item-head{
    margin: 40px 120px 30px 120px;
    font-weight: bold;
    color: #1e3932;
  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.item-text{
    width: 40px;
   gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    width: 150px;
   
}
.item-image{
     border-radius: 150px;
     width: 110px;
     height: 110px;
    
}

.img-box{
    width:85px;
    display: flex;
   margin-top: 15px;
   margin-left: 25px;
 border-radius: 10px;    
}
.green-box{
    width: 13px;
    height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
    border: 2px solid #006e45;
    border-radius: 2.5px;
    
}
.green-cercle{
    width:8px;
    height: 8px;
    border-radius: 500px;
    background-color: #006e45;
  
}

.box-items{
    display: flex;
    gap: 15px;
}
.total-box{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    gap: 3px;
}
.add-item{
    display: flex;
    justify-content: space-between;
    margin: 20px 25px 0px 25px;
}

.add{
    background: #01754f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    border-radius: 50px;
    width: 93px;
    color: white;
    height: 30px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}