* {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 195, 255);
    border-radius: 1px;
}

header {
    position: fixed;
    background-color: white;
    display: flex;
    width: 100%;
    z-index: 999;
    height: 90px;
    justify-content: space-around;
    box-shadow: 0 5px 20px rgba(0, 41, 112, .1);
}

.nav-bar {
    display: flex;
    min-width: 1200px;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

li {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 17px;
}

li:hover {
    background-color: rgb(240, 240, 240);
    border-radius: 3px;
}

.pytm-logo {
    width: 80px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.sign-in {
    min-width: 110px;
    background-color: rgb(0, 195, 255);
    display: flex;
    align-items: center;
    color: white;
    padding: 2px 0px 2px 13px;
    border-radius: 50px;
    justify-content: space-around;
    font-weight: bold;
    font-size: 15px;
    font-family: Inter, sans-serif;
    margin-left: 30px;
}

.login-logo {
    width: 35px;
    background-color: rgb(9, 9, 136);
    border-radius: 100%;
}

.sign-in:hover {
    background-color: rgb(9, 9, 136);
}

.sign-in:hover .login-logo {
    background-color: rgb(0, 195, 255);
}

.body {
    padding: 128px 0 120px;
    width: 1260px;
    height: 447px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobail-image {
    width: 528px;
    position: absolute;
    top: 150px;
    right: 0;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.body-items {
    display: block;
    unicode-bidi: isolate;
}

h1 {
    margin-top: 45px;
    color: rgb(0, 0, 0);
    display: block;
    font-family: Inter, sans-serif;
    font-size: 54px;
    font-weight: 700;
    height: 130px;
    line-height: 65px;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    width: 650px;
    -webkit-font-smoothing: antialiased;
}

p {
    padding-top: 10px;
    font-family: Inter, sans-serif;
    width: 475px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    height: 45px;
    background-color: black;
    color: white;
    width: 240px;
    padding: 0 24px;
    font-size: 15px;
}

.btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    height: 45px;
    background-color: black;
    color: white;
    width: 240px;
    padding: 2px 26px 2px 25px;
    margin-top: 40px;
}

.btn-logo {
    width: 18px;
}

.btn:hover {
    color: black;
    background-color: white;
}

.btn:hover .btn-logo {
    filter: invert(100%) brightness(0%) contrast(100%);
}

.payments {
    
    width: 1260px;
    margin: auto;
}

.pyment-item {
    
}

.h1 {
    font-size: 36px;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.payment-item {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.pyment-items {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    width: 140px;
    color: white;
    overflow: hidden;
    gap: 20px;
    font-weight: bold;
    font-size: 15px;
    font-family: Inter, sans-serif;
}

.pyment-items:hover {
    background-color: rgba(63, 63, 63, 0.2);
}

.pyment-icon {
    width: 65px;
}
.a{
    
}
.pyment-item-test {
    display: flex;
    font-family: Inter, sans-serif;
    min-width: 110px;
    flex-direction: column;
    gap: 5px;
}

.pyment-item-test2 {
    display: flex;
    font-weight: 900;
    min-width: 110px;
    flex-direction: column;
    font-family: Inter, sans-serif;
    gap: 2px;
}


.pay {
    overflow: hidden;
    background-attachment: scroll;
    background-color: rgb(245, 247, 250);
    color: rgb(0, 0, 0);
    display: block;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 712px;
    padding-bottom: 48px;
    margin: auto;
    padding-top: 120px;
    position: relative;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    width: 1379px;
    -webkit-font-smoothing: antialiased;
}

.pay-text {
    color: rgb(0, 0, 0);
    display: block;
    font-family: Inter, sans-serif;
    font-size: 48px;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    margin-bottom: 35px;
    width: 1170px;
    margin-left: 104.5px;
}

.pay-box {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    display: block;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 627px;
    margin-bottom: 0px;
    margin-left: 104.5px;
    margin-right: 104.5px;
    margin-top: 0px;
    position: relative;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    width: 1170px;
    z-index: 1;
}

.hamburger {
    display: none;

}

@media only screen and (max-width: 900px) {
    header {
        display: flex;
        justify-content: space-around;
        position: fixed;
        right: 0;
    }
    .logo1{

        margin-left: 100px;
    }
    .body {
        padding: 128px 0 120px;
        width: 100%;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobail-image {
        height: 300px;
        width: 300px;
        position: static;
        margin-top: 20px;
    }

    .body-items {
        display: block;
        text-align: center;
    }

    .logo1 {
        width: 180px;
        display: flex;
        justify-content: center;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 30px;
        z-index: 99999;
        position: fixed;
        top: 30px;
        height: 30px;
        justify-content: space-around;
        cursor: pointer;
    }

    .sign-in {
        position: absolute;
        right: 10px;
    }

    .line {
        width: 30px;
        height: 3px;
        background-color: rgb(0, 0, 0);
    }

    .nav-items {
        display: none;
    }
    .pay {
        width: 90%;
        padding-top: 80px;
    }

    .pay-text {
        font-size: 36px;
        width: 100%;
        margin-left: 0;
    }

    .pay-box {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .pay-box,
    .pay-text {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1280px) {
    .nav-bar {
        width: 100%;
        padding: 0 20px;
    }

    .nav-items {
        width: auto;
    }

    .sign-in {
        margin-left: 20px;
    }

    .body {
        width: 90%;
    }

    .h1 {
        font-size: 40px;
        width: auto;
    }

    p {
        width: auto;
        font-size: 18px;
    }
    .pay {
        width: 90%;
        padding-top: 80px;
    }

    .pay-text {
        font-size: 36px;
        width: 100%;
        margin-left: 0;
    }

    .pay-box {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .pay-box,
    .pay-text {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .body {
        padding: 100px 0 80px;
        width: 90%;
    }

    .mobail-image {
        width: 100%;
    }

    h1 {
        font-size: 32px;
        line-height: 45px;
    }

    p {
        font-size: 16px;
        line-height: 25px;
        width: 100%;
    }

    .btn,
    .btn1 {
        width: 100%;
        font-size: 14px;
    }

    .pay {
        width: 90%;
        padding-top: 80px;
    }

    .pay-text {
        font-size: 36px;
        width: 100%;
        margin-left: 0;
    }

    .pay-box {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .pay-box,
    .pay-text {
        margin-bottom: 20px;
    }
    .pay-text{
        font-size: 20px;
    }
}
